{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Список книг</h1>
        <div class="row justify-content-center">
            {% for book in books %}
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <a href="{% url "book_info" book.id %}" class="card-link" style="text-decoration: none; color: inherit;">
                            <div class="card-body">
                                <img src="{{ book.cover_image }}" alt="{{ book.title }}" class="float-end pb-3" style="max-width: 100px; max-height: 100px;">
                                <h5 class="card-title">{{ book.title }}</h5>
                                <p class="card-text">Автор: {{ book.author.full_name }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}


