footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
.nav-link {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследуем цвет текста от родительского элемента */
}